/*基本尺寸*/
@topHeight: 60px;

/*字体大小*/
@smallFontSize: 14px;
@fontSize: 16px;

/*字体颜色*/
@snowColor: #FFFAFA;

/*基本颜色*/
@backgroundTop: rgba(0, 0, 0, .5);
@borderColor: rgba(0, 0, 0, .1);

/*共同样式*/
.clear {
  zoom: 1;
  &:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

/*底部1像素的边框*/
.border-1px(@color) {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    border-top: 1px solid @color;
  }
}
